---
import "../layouts/BaseLayout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome site yo!</h2>
</BaseLayout>
